<div class="field">
  <div class="control">
    <label class="radio">
      <input 
        ng-model="$ctrl.smsOrTextParser"
        ng-change="$ctrl.toggleParser();"
        value="textToSMS"
        type="radio" 
        name="question">
      Texto para SMS
    </label>
    <label class="radio">
      <input 
        ng-model="$ctrl.smsOrTextParser"
        ng-change="$ctrl.toggleParser();"
        value="SMSToText"
        type="radio" 
        name="question">
      SMS para texto
    </label>
  </div>
</div>

<div class="field is-grouped">
  <p class="control is-expanded">
    <input 
      ng-model="$ctrl.newMessage"
      ng-change="$ctrl.validateNewMessage();"
      ng-keyup="$ctrl.parseMessage(); $ctrl.updateRemainingCharacters();"
      ng-disabled="$ctrl.isLoading"
      maxlength="255"
      class="input" 
      type="text" 
      placeholder="Digite uma mensagem">
  </p>
  <p class="control">
    <a
      ng-click="$ctrl.onSubmit();" 
      ng-disabled="!$ctrl.isNewMessageValid"
      ng-class="{'is-loading': $ctrl.isLoading }"
      class="button is-info">Enviar</a>
  </p>
  <p class="help">{{ $ctrl.remainingChars }}</p>
</div>

<div class="field" ng-show="$ctrl.parsedMessage.length > 0">
  <div class="control">
    <textarea class="textarea" ng-model="$ctrl.parsedMessage" disabled></textarea>
  </div>
</div>
